<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog-Poster By Hardik</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <header class="container header">
        <span class="logo">.blog!!</span>
        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-list-item"><a href="/" class="nav-item-link">Home</a></li>
                <li class="nav-list-item"><a href="/posts" class="nav-item-link">Posts</a></li>
                <li class="nav-list-item"><a href="/newPost" class="nav-item-link">New-Post</a></li>
                <li class="nav-list-item"><a href="/about" class="nav-item-link">About</a></li>
            </ul>
        </nav>
    </header>
    <main>
       
        