<!-- add header link -->
<%- include("partials/header.ejs") %>
<div class=" about-content container">
  <div class="about-text">
    <h1 class="heading">About US</h1>
    
    <p>Passionate about sharing stories, ideas, and insights, .blog is your go-to destination for engaging and informative content. We believe in the power of words to inspire, educate, and entertain.
    </p>
    <p>Our team of talented writers is dedicated to bringing you a diverse range of topics, from [niche 1] to [niche 2] and beyond. We strive to create content that is both informative and enjoyable, leaving you wanting more.
    </p>
    <p>Join our community of readers and lets explore the world together, one blog post at a time.</p>
  </div>
</div>
<!-- add footer link -->
<%- include("partials/footer.ejs") %>


