    <!-- link header here -->
    <%- include("partials/header.ejs") %>

    <div class="home-page container">
        <h1 class="home-page-title">Welcome to <span class=>.Blog!!</span></h1>
        <p class="home-page-subtitle">Crafting Content That Connects....</p>
    </div>
        
    <!-- link footer here -->
    <%- include("partials/footer.ejs") %>

</body>
</html>